
<div ng-if = "News" id="main_container">


  <div class="header">
    <button (click) = 'setHome()' id="home"><img src="../../assets/homepage.png" alt="Home">{{country|uppercase}}</button>
    <select #option (click)='langselect(option.value)'>
      <option value='lang'>Languague</option>
      <option value='ar'>Arabic</option>
      <option value='en'>English</option>
      <option value='de'>German</option>
      <option value='es'>Spanish</option>
      <option value='fr'>French</option>
      <option value='he'>Hebrew</option>
      <option value='it'>Itaian</option>
      <option value='nl'>Dutch</option>
      <option value='no'>Norwegian</option>
      <option value='pt'>Portuguese</option>
      <option value='ru'>Russian</option>
      <option value='sv'>Swedish</option>
      <option value='ud'>Urdu</option>
    </select>
    <button (click)="refreshQuery(query.value); query.value=''" id="sear"><img src="../../assets/magnifying-glass.png" alt="SEARCH"></button>
    <input #query>
  </div>

  <div id="content">
    <ul style="margin: 0;list-style: none;">
      <li *ngFor = 'let selected of News'>
        <div class="card">
          <img src="{{selected.img_url}}" alt="Image not avilable" class="img">
          <h2>{{selected.title}}</h2>
          <h5>{{selected.source}}</h5>
          <h5>{{selected.time}}</h5>
          <h5>{{selected.author}}</h5>
          <p>{{selected.description}}</p>
          <div class="link">
            <a href="{{selected.url}}" target="_blank" class = "link">More</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="loading">
    <div class="windows8">
    	<div class="wBall" id="wBall_1">
    		<div class="wInnerBall"></div>
    	</div>
    	<div class="wBall" id="wBall_2">
    		<div class="wInnerBall"></div>
    	</div>
    	<div class="wBall" id="wBall_3">
    		<div class="wInnerBall"></div>
    	</div>
    	<div class="wBall" id="wBall_4">
    		<div class="wInnerBall"></div>
    	</div>
    	<div class="wBall" id="wBall_5">
    		<div class="wInnerBall"></div>
    	</div>
    </div>
  </div>

  <div class="super_blank">
    <div id="NoResults" class="blank">
      <h3>No Results found fou your query :(</h3>
    </div>
  </div>

  </div>
