<div ng-if = "News">

  <div class="search">
    <input #query>
    <button (click)="refreshQuery(query.value); query.value=''">search</button>
  </div>

  <div class="">
    <select #option (click)='langselect(option.value)'>
      <option value='ar'>ar</option>
      <option value='en'>en</option>
      <option value='cn'>cn</option>
      <option value='de'>de</option>
      <option value='es'>es</option>
      <option value='fr'>fr</option>
      <option value='he'>he</option>
      <option value='it'>it</option>
      <option value='nl'>nl</option>
      <option value='no'>no</option>
      <option value='pt'>pt</option>
      <option value='ru'>ru</option>
      <option value='sv'>sv</option>
      <option value='ud'>ud</option>
    </select>
  </div>

  <ul style="margin:0; padding: 0;list-style: none;">
    <li *ngFor = 'let selected of News'>
      <div class="card">
        <img src="{{selected.img_url}}" alt="Image not avilable" class="img">
        <h2>{{selected.title}}</h2>
        <h5>{{selected.source}}</h5>
        <h5>{{selected.time}}</h5>
        <h5>{{selected.author}}</h5>
        <p>{{selected.description}}</p>
        <a href="{{selected.url}}" target="_blank" class = "link">More</a>
      </div>
    </li>
  </ul>

</div>
