<div ng-if = "News">

  <div class="search">
    <input #query>
    <button (click)="refreshQuery(query.value); query.value='' ">search</button>
  </div>

  <ul style="margin:0; padding: 0;list-style: none;">
    <li *ngFor = 'let selected of News'>
      <div class="card">
        <img src="{{selected.img_url}}" alt="Image not avilable" class="img">
        <h2>{{selected.title}}</h2>
        <h5>{{selected.source}}</h5>
        <h5>{{selected.time}}</h5>
        <h5>{{selected.author}}</h5>
        <p>{{selected.description}}</p>
        <a href="{{selected.url}}" target="_blank" class = "link">More</a>
      </div>
    </li>
  </ul>

</div>
