#main_container{
  font-family: 'Hind', sans-serif;
}


.blank{
  display: none;
}
.super_blank{
  display: flex;
  justify-content: center;
}
#NoResults{
  padding: 5em 0 0 0;
}



.header{
  position: fixed;
  width: -webkit-fill-available;
  width: -moz-available;
  background: #003b46;
  min-height: 1em;
  padding: 5px;
  box-shadow: 2px 2px 10px grey;
}
.header button, select{
  background: #003b46;
  border: 0;
  color: white;
  padding: 0;
}
.header select{
  float: right;
  margin: 0.8em 0 0 0.5em;
}
.header button{
  font-weight: lighter;
  font-size: 0.8em;
}
.header input{
  background: #003b46;
  border-color: white;
  padding: 0;
  border-width: 0 0 1px 0;
  float: right;
  margin: 0.5em 0 0 0.5em;
  color: white;
  text-align: center;
  font-size: 1.05em;
  max-width: 40%;
}
#home{
  margin: 0.5em 0 0 0.5em;
  }
#sear{
  float: right;
  margin: 0.5em 0 0 0.5em;

}



.card{
  display: grid;
  background: #FFFFFF;
  box-shadow: 1px 1px 10px grey;
}
.card h2{
  color: black;
  font-weight: bold;
}
.card h5{
  font-style: normal;
  font-weight: lighter;
  color: #707070;
}
.card p{
  font-weight: 100;
}
.card a{
  color: blue;
  text-decoration: none;
}
.card img{
  background: #EFEFEF;
  text-align: center;
  box-shadow: 1px 1px 8px grey;
}

#content ul{
   padding: 3em 0 0 0;
}



@media only screen and (min-width: 500px){
  .card{
    padding: 0.5em;
    grid-template-columns: 1.5fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 1em;
  }
  .card h2{
    grid-column: 2/5;
  }
  .card p{
    grid-column: 2/5;
    margin: 0;
  }
  .card h5,h2{
    margin: 0;
  }
  .link{
    grid-column: 4/5;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
  }
  .card img{
    grid-column: 1/2;
    grid-row: 1/5;
    font-size: 0.7em;
    max-width: 200px;
  }

}


@media only screen and (max-width: 500px) and (min-width: 300px){
  .card{
    justify-content: center;
    padding: 0.3em;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 0.7em;
  }
  .card p,h5,a{
    margin: 0.5em 0 0 1em;
  }
  .card h2{
    margin: 0.5em 0 0 0.5em;
  }
  .card img{
    margin-top: 1em;
    margin-left: auto;
	  margin-right: auto;
    display: block;
    font-size: 0.7em;
    max-width: 300px;
    max-height: 300px
  }
}


@media only screen and (max-width: 300px){
  .card{
    justify-content: center;
    padding: 0.3em;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 0.7em;
  }
  .card p,h2,h5,a{
    margin: 0.5em 0 0 1em;
  }
  .card h2{
    margin: 0.5em 0 0 0.5em;
    max-width: 250px;
  }
  .img{
    margin-left: auto;
	  margin-right: auto;
    display: block;
    font-size: 0.7em;
    margin-top: 0.8em;
    max-width: 300px;
    max-height: 300px
  }
}
.removedisp{
  display: none;
}


/*************************************************************************************/
.windows8 {
	position: relative;
  padding-top: 5em;;
	width: 38px;
	height:38px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 36px;
	height: 36px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 4.5325s infinite;
		-o-animation: orbit 4.5325s infinite;
		-ms-animation: orbit 4.5325s infinite;
		-webkit-animation: orbit 4.5325s infinite;
		-moz-animation: orbit 4.5325s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 5px;
	height: 5px;
	background: rgba(0,0,0,0.79);
	left:0px;
	top:0px;
	border-radius: 5px;
}

.windows8 #wBall_1 {
	animation-delay: 0.986s;
		-o-animation-delay: 0.986s;
		-ms-animation-delay: 0.986s;
		-webkit-animation-delay: 0.986s;
		-moz-animation-delay: 0.986s;
}

.windows8 #wBall_2 {
	animation-delay: 0.193s;
		-o-animation-delay: 0.193s;
		-ms-animation-delay: 0.193s;
		-webkit-animation-delay: 0.193s;
		-moz-animation-delay: 0.193s;
}

.windows8 #wBall_3 {
	animation-delay: 0.3965s;
		-o-animation-delay: 0.3965s;
		-ms-animation-delay: 0.3965s;
		-webkit-animation-delay: 0.3965s;
		-moz-animation-delay: 0.3965s;
}

.windows8 #wBall_4 {
	animation-delay: 0.5895s;
		-o-animation-delay: 0.5895s;
		-ms-animation-delay: 0.5895s;
		-webkit-animation-delay: 0.5895s;
		-moz-animation-delay: 0.5895s;
}

.windows8 #wBall_5 {
	animation-delay: 0.793s;
		-o-animation-delay: 0.793s;
		-ms-animation-delay: 0.793s;
		-webkit-animation-delay: 0.793s;
		-moz-animation-delay: 0.793s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}
