.card{
  display: grid;
  background: #FFFFFF;
  font-family: 'Hind', sans-serif;
  box-shadow: 1px 1px 10px grey;
}
.card h2{
  color: black;
  font-weight: bold;
}
.card h5{
  font-style: normal;
  font-weight: lighter;
  color: #707070;
}
.card p{
  font-weight: 100;
}
.card a{
  color: blue;
  text-decoration: none;
}
.card img{
  background: #EFEFEF;
  text-align: center;
  box-shadow: 1px 1px 8px grey;
}
@media only screen and (min-width: 500px){
  .card{
    padding: 0.5em;
    grid-template-columns: 1.5fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 1em;
  }
  .card h2{
    grid-column: 2/5;
  }
  .card p{
    grid-column: 2/5;
    margin: 0;
  }
  .card h5,h2{
    margin: 0;
  }
  .card a{
    grid-column: 4/5;
  }
  .card img{
    grid-column: 1/2;
    grid-row: 1/5;
    font-size: 0.7em;
    max-width: 200px;
  }

  .search{
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 10px;
  }
  .search button{
    background: black;
    color: white;
    padding: 0.3em;
    margin:0;
    border: 0;
  }
  .search input{
    margin-right: 0.5em;
  }

}
@media only screen and (max-width: 500px) and (min-width: 300px){
  .card{
    justify-content: center;
    padding: 0.3em;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 0.7em;
  }
  .card p,h5,a{
    margin: 0.5em 0 0 1em;
  }
  .card h2{
    margin: 0.5em 0 0 0.5em;
  }
  .card img{
    margin-top: 1em;
    margin-left: auto;
	  margin-right: auto;
    display: block;
    font-size: 0.7em;
    max-width: 300px;
    max-height: 300px
  }
}
@media only screen and (max-width: 300px){
  .card{
    justify-content: center;
    padding: 0.3em;
    font-size: 10pt;
    margin: 0.5%;
    margin-bottom: 0.7em;
  }
  .card p,h2,h5,a{
    margin: 0.5em 0 0 1em;
  }
  .card h2{
    margin: 0.5em 0 0 0.5em;
    max-width: 250px;
  }
  .img{
    margin-left: auto;
	  margin-right: auto;
    display: block;
    font-size: 0.7em;
    margin-top: 0.8em;
    max-width: 300px;
    max-height: 300px
  }
}
